# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [30]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [31]:
data = pd.read_csv('customer_product_sales.csv')

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68584 entries, 0 to 68583
Data columns (total 7 columns):
CustomerID     68584 non-null int64
FirstName      68584 non-null object
LastName       68584 non-null object
SalesID        68584 non-null int64
ProductID      68584 non-null int64
ProductName    68584 non-null object
Quantity       68584 non-null int64
dtypes: int64(4), object(3)
memory usage: 3.7+ MB

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [98]:
data2 = data.groupby(('CustomerID', 'ProductName'))['Quantity'].sum()
data2

C:\Users\52557\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  """Entry point for launching an IPython kernel.

CustomerID  ProductName
33          Apricots - Dried                      1
            Assorted Desserts                     1
            Bandage - Flexible Neon               1
            Bar Mix - Pina Colada, 355 Ml         1
            Beans - Kidney, Canned                1
            Beef - Chuck, Boneless                1
            Beef - Prime Rib Aaa                  1
            Beer - Original Organic Lager         1
            Beer - Rickards Red                   1
            Black Currants                        1
            Blackberries                          1
            Bread - Italian Roll With Herbs       1
            Bread Foccacia Whole                  1
            Cake - Box Window 10x10x2.5           1
            Cassis                                1
            Cheese - Cottage Cheese               1
            Crab - Imitation Flakes               1
            Fondant - Icing                       1
            French Pastry - Mini Chocolate        1
            General Purpose Trigger               1
            Grapes - Red                          1
            Grouper - Fresh                       2
            Hersey Shakes                         1
            Ice Cream Bar - Drumstick             1
            Lamb - Pieces, Diced                  1
            Lettuce - Spring Mix                  2
            Mangoes                               1
            Muffin Batt - Choc Chk                1
            Onions - Vidalia                      1
            Pasta - Cheese / Spinach Bauletti     1
                                                 ..
98200       Onion Powder                         25
            Orange - Canned, Mandarin            25
            Pasta - Detalini, White, Fresh       25
            Puree - Passion Fruit                25
            Raspberries - Fresh                  25
            Rice - Long Grain                    25
            Rosemary - Dry                       25
            Rosemary - Primerba, Paste           50
            Rum - Coconut, Malibu                25
            Sage - Ground                        25
            Sausage - Liver                      25
            Sea Bass - Whole                     50
            Seedlings - Mix, Organic             25
            Sole - Dover, Whole, Fresh           25
            Soup - Campbells, Lentil             50
            Soup Campbells - Italian Wedding     25
            Soup Knorr Chili With Beans          25
            Soupfoamcont12oz 112con              25
            Spinach - Baby                       25
            Table Cloth 54x72 White              25
            Tea - English Breakfast              25
            Tilapia - Fillets                    25
            Tomatoes Tear Drop                   25
            Truffle Cups - Brown                 25
            Vaccum Bag 10x13                     25
            Vol Au Vents                         50
            Wasabi Powder                        25
            Wine - Fume Blanc Fetzer             25
            Wine - Hardys Bankside Shiraz        25
            Yogurt - French Vanilla              25
Name: Quantity, Length: 63628, dtype: int64

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [89]:
data2 = pd.pivot_table(data, index = 'ProductName', columns='CustomerID', values = 'Quantity', aggfunc = {'Quantity':'sum'}, fill_value = 0)
data2.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [90]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data2.T, 'euclidean'))), 
                         index=data2.columns, columns=data2.columns)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [125]:
#distances.sort_values('CustomerID', ascending=False)[1:]
#distances.sort_values(['CustomerID'==33], ascending=False).head()
users= pd.DataFrame(distances.iloc[33].sort_values(ascending=False).reset_index().head(6))
users
#distances.columns

   CustomerID      2617
0        2617  1.000000
1        1008  0.089301
2        3317  0.088913
3         264  0.088152
4         649  0.086333
5        3535  0.085983

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [106]:
users2 = data[data['CustomerID'].isin(users['CustomerID'].unique())]
users2.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
159,264,Virgil,Small,24688,270,Cheese Cloth No 100,1
201,1008,Leticia,Krueger,4468566,270,Cheese Cloth No 100,1
242,3535,Lana,Peters,2399506,270,Cheese Cloth No 100,1
330,649,Lonnie,Lambert,4444323,153,Arizona - Green Tea,1
1042,3535,Lana,Peters,4503728,417,"Lamb - Pieces, Diced",1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [121]:
data3 = pd.pivot_table(users2, index = 'ProductName', values = 'Quantity', aggfunc = {'Quantity':'sum'}, fill_value = 0)
data3 = data3.sort_values(by = 'Quantity', ascending=False).reset_index()
data3.head()

                ProductName  Quantity
0  Mushrooms - Black, Dried         6
1          Halibut - Steaks         4
2             Yoghurt Tubes         4
3    Tart Shells - Sweet, 4         4
4   Soupfoamcont12oz 112con         4

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [128]:
no_comprados = set(data3['ProductName'].unique())-set(users2[users2['CustomerID'] == 33]['ProductName'].unique())

In [131]:
no_33 = data3[data3['ProductName'].isin(no_comprados)].sort_values(by='Quantity', ascending=False)
no_33.head()

                ProductName  Quantity
0  Mushrooms - Black, Dried         6
2             Yoghurt Tubes         4
3    Tart Shells - Sweet, 4         4
4   Soupfoamcont12oz 112con         4
5              Flour - Teff         4

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [137]:
customers = data['CustomerID'].unique()
recomendations = {}

for a in customers:
    users = pd.DataFrame(distances.loc[a].sort_values(ascending=False).head(6)).reset_index()
    users2 = data[data['CustomerID'].isin(users['CustomerID'].unique())]
    data3 = data3.sort_values(by = 'Quantity', ascending=False).reset_index()
    no_comprados = set(data3['ProductName'].unique())-set(users2[users2['CustomerID'] == 33]['ProductName'].unique())
    recomendations[a] = list(data3[data3['ProductName'].isin(no_comprados)].sort_values(by='Quantity', ascending=False).head()['ProductName'])

ValueError: cannot insert level_0, already exists

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.