# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [11]:
pivote = pd.pivot_table(data, 
                        values=['Quantity'],
                        index=['CustomerID','ProductName'],
                        aggfunc={'Quantity': sum}
                        )
pivote

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

In [47]:
pivot = data.groupby(['CustomerID','ProductName'], as_index=False).agg({'Quantity':'sum'})

In [48]:
pivot

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [49]:
pivot2 = pd.pivot(pivot, 
                  values=['Quantity'],
                  index=['ProductName'],
                  columns=['CustomerID'],
                  #      aggfunc={'Quantity': sum}
                        )
pivot2

                                  Quantity                                \
CustomerID                           33    200   264   356   412   464
ProductName
Anchovy Paste - 56 G Tube              NaN   NaN   NaN   NaN   NaN   NaN
Appetizer - Mini Egg Roll, Shrimp      NaN   NaN   NaN   NaN   NaN   NaN
Appetizer - Mushroom Tart              NaN   NaN   NaN   NaN   NaN   NaN
Appetizer - Sausage Rolls              NaN   NaN   NaN   NaN   NaN   NaN
Apricots - Dried                       1.0   NaN   NaN   NaN   1.0   NaN
...                                    ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                   NaN   NaN   NaN   NaN   NaN   NaN
Yoghurt Tubes                          NaN   NaN   NaN   NaN   NaN   NaN
Yogurt - Blueberry, 175 Gr             NaN   1.0   NaN   NaN   NaN   NaN
Yogurt - French Vanilla                1.0   NaN   NaN   1.0   NaN   NaN
Zucchini - Yellow                      NaN   NaN   NaN   NaN   NaN   NaN

                                                           ...              \
CustomerID                        477   639   649   669    ... 97697 97753
ProductName                                                ...
Anchovy Paste - 56 G Tube           NaN   1.0   NaN   NaN  ...   NaN  25.0
Appetizer - Mini Egg Roll, Shrimp   NaN   NaN   NaN   NaN  ...  25.0  25.0
Appetizer - Mushroom Tart           NaN   1.0   NaN   NaN  ...  25.0   NaN
Appetizer - Sausage Rolls           NaN   NaN   NaN   NaN  ...   NaN   NaN
Apricots - Dried                    NaN   NaN   NaN   NaN  ...   NaN  25.0
...                                 ...   ...   ...   ...  ...   ...   ...
Yeast Dry - Fermipan                NaN   NaN   NaN   NaN  ...   NaN   NaN
Yoghurt Tubes                       NaN   NaN   2.0   NaN  ...   NaN   NaN
Yogurt - Blueberry, 175 Gr          NaN   NaN   NaN   NaN  ...  25.0   NaN
Yogurt - French Vanilla             2.0   NaN   NaN   1.0  ...   NaN   NaN
Zucchini - Yellow                   NaN   NaN   NaN   NaN  ...   NaN   NaN

                                                                             \
CustomerID                        97769 97793 97900 97928 98069 98159 98185
ProductName
Anchovy Paste - 56 G Tube           NaN   NaN   NaN   NaN   NaN   NaN   NaN
Appetizer - Mini Egg Roll, Shrimp   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Appetizer - Mushroom Tart           NaN   NaN   NaN   NaN   NaN   NaN  25.0
Appetizer - Sausage Rolls           NaN   NaN  25.0  25.0  25.0   NaN  25.0
Apricots - Dried                    NaN   NaN   NaN   NaN   NaN   NaN   NaN
...                                 ...   ...   ...   ...   ...   ...   ...
Yeast Dry - Fermipan                NaN  25.0   NaN   NaN   NaN   NaN   NaN
Yoghurt Tubes                       NaN   NaN   NaN   NaN   NaN  25.0   NaN
Yogurt - Blueberry, 175 Gr          NaN  25.0   NaN   NaN   NaN   NaN   NaN
Yogurt - French Vanilla            25.0   NaN   NaN   NaN   NaN   NaN   NaN
Zucchini - Yellow                   NaN   NaN   NaN   NaN   NaN   NaN   NaN


CustomerID                        98200
ProductName
Anchovy Paste - 56 G Tube           NaN
Appetizer - Mini Egg Roll, Shrimp   NaN
Appetizer - Mushroom Tart           NaN
Appetizer - Sausage Rolls           NaN
Apricots - Dried                    NaN
...                                 ...
Yeast Dry - Fermipan                NaN
Yoghurt Tubes                       NaN
Yogurt - Blueberry, 175 Gr          NaN
Yogurt - French Vanilla            25.0
Zucchini - Yellow                   NaN

[452 rows x 1000 columns]

In [50]:
pivot2.fillna(0, inplace=True)

In [51]:
pivot2.head()

                                  Quantity                                \
CustomerID                           33    200   264   356   412   464
ProductName
Anchovy Paste - 56 G Tube              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp      0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart              0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Sausage Rolls              0.0   0.0   0.0   0.0   0.0   0.0
Apricots - Dried                       1.0   0.0   0.0   0.0   1.0   0.0

                                                           ...              \
CustomerID                        477   639   649   669    ... 97697 97753
ProductName                                                ...
Anchovy Paste - 56 G Tube           0.0   1.0   0.0   0.0  ...   0.0  25.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0  ...  25.0  25.0
Appetizer - Mushroom Tart           0.0   1.0   0.0   0.0  ...  25.0   0.0
Appetizer - Sausage Rolls           0.0   0.0   0.0   0.0  ...   0.0   0.0
Apricots - Dried                    0.0   0.0   0.0   0.0  ...   0.0  25.0

                                                                             \
CustomerID                        97769 97793 97900 97928 98069 98159 98185
ProductName
Anchovy Paste - 56 G Tube           0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart           0.0   0.0   0.0   0.0   0.0   0.0  25.0
Appetizer - Sausage Rolls           0.0   0.0  25.0  25.0  25.0   0.0  25.0
Apricots - Dried                    0.0   0.0   0.0   0.0   0.0   0.0   0.0


CustomerID                        98200
ProductName
Anchovy Paste - 56 G Tube           0.0
Appetizer - Mini Egg Roll, Shrimp   0.0
Appetizer - Mushroom Tart           0.0
Appetizer - Sausage Rolls           0.0
Apricots - Dried                    0.0

[5 rows x 1000 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [52]:
pivot_trans = pivot2.T
pivot_trans

ProductName          Anchovy Paste - 56 G Tube  \
         CustomerID
Quantity 33                                0.0
         200                               0.0
         264                               0.0
         356                               0.0
         412                               0.0
...                                        ...
         97928                             0.0
         98069                             0.0
         98159                             0.0
         98185                             0.0
         98200                             0.0

ProductName          Appetizer - Mini Egg Roll, Shrimp  \
         CustomerID
Quantity 33                                        0.0
         200                                       0.0
         264                                       0.0
         356                                       0.0
         412                                       0.0
...                                                ...
         97928                                     0.0
         98069                                     0.0
         98159                                     0.0
         98185                                     0.0
         98200                                     0.0

ProductName          Appetizer - Mushroom Tart  Appetizer - Sausage Rolls  \
         CustomerID
Quantity 33                                0.0                        0.0
         200                               0.0                        0.0
         264                               0.0                        0.0
         356                               0.0                        0.0
         412                               0.0                        0.0
...                                        ...                        ...
         97928                             0.0                       25.0
         98069                             0.0                       25.0
         98159                             0.0                        0.0
         98185                            25.0                       25.0
         98200                             0.0                        0.0

ProductName          Apricots - Dried  Apricots - Halves  Apricots Fresh  \
         CustomerID
Quantity 33                       1.0                0.0             0.0
         200                      0.0                0.0             0.0
         264                      0.0                1.0             1.0
         356                      0.0                0.0             0.0
         412                      1.0                0.0             0.0
...                               ...                ...             ...
         97928                    0.0               50.0             0.0
         98069                    0.0               25.0             0.0
         98159                    0.0                0.0             0.0
         98185                    0.0               25.0             0.0
         98200                    0.0               25.0            25.0

ProductName          Arizona - Green Tea  Artichokes - Jerusalem  \
         CustomerID
Quantity 33                          0.0                     0.0
         200                         0.0                     0.0
         264                         0.0                     0.0
         356                         0.0                     0.0
         412                         0.0                     0.0
...                                  ...                     ...
         97928                      25.0                     0.0
         98069                       0.0                     0.0
         98159                       0.0                     0.0
         98185                       0.0                     0.0
         98200                       0.0                     0.0

ProductName          Assorted Desserts  ...  Wine - White, Colubia Cresh  \
         CustomerID                     ...
Quantity 33                        1.0  ...                          0.0
         200                       0.0  ...                          1.0
         264                       0.0  ...                          0.0
         356                       0.0  ...                          0.0
         412                       0.0  ...                          0.0
...                                ...  ...                          ...
         97928                     0.0  ...                          0.0
         98069                    25.0  ...                          0.0
         98159                     0.0  ...                          0.0
         98185                     0.0  ...                          0.0
         98200                    25.0  ...                          0.0

ProductName          Wine - White, Mosel Gold  \
         CustomerID
Quantity 33                               0.0
         200                              0.0
         264                              0.0
         356                              0.0
         412                              1.0
...                                       ...
         97928                           25.0
         98069                            0.0
         98159                           50.0
         98185                            0.0
         98200                            0.0

ProductName          Wine - White, Schroder And Schyl  \
         CustomerID
Quantity 33                                       0.0
         200                                      0.0
         264                                      0.0
         356                                      0.0
         412                                      1.0
...                                               ...
         97928                                   25.0
         98069                                    0.0
         98159                                    0.0
         98185                                    0.0
         98200                                    0.0

ProductName          Wine - Wyndham Estate Bin 777  Wonton Wrappers  \
         CustomerID
Quantity 33                                    0.0              0.0
         200                                   0.0              0.0
         264                                   1.0              0.0
         356                                   0.0              0.0
         412                                   1.0              0.0
...                                            ...              ...
         97928                                 0.0              0.0
         98069                                 0.0              0.0
         98159                                 0.0              0.0
         98185                                25.0              0.0
         98200                                 0.0              0.0

ProductName          Yeast Dry - Fermipan  Yoghurt Tubes  \
         CustomerID
Quantity 33                           0.0            0.0
         200                          0.0            0.0
         264                          0.0            0.0
         356                          0.0            0.0
         412                          0.0            0.0
...                                   ...            ...
         97928                        0.0            0.0
         98069                        0.0            0.0
         98159                        0.0           25.0
         98185                        0.0            0.0
         98200                        0.0            0.0

ProductName          Yogurt - Blueberry, 175 Gr  Yogurt - French Vanilla  \
         CustomerID
Quantity 33                                 0.0                      1.0
         200                                1.0                      0.0
         264                                0.0                      0.0
         356                                0.0                      1.0
         412                                0.0                      0.0
...                                         ...                      ...
         97928                              0.0                      0.0
         98069                              0.0                      0.0
         98159                              0.0                      0.0
         98185                              0.0                      0.0
         98200                              0.0                     25.0

ProductName          Zucchini - Yellow
         CustomerID
Quantity 33                        0.0
         200                       0.0
         264                       0.0
         356                       0.0
         412                       0.0
...                                ...
         97928                     0.0
         98069                     0.0
         98159                     0.0
         98185                     0.0
         98200                     0.0

[1000 rows x 452 columns]

In [53]:
dist_eucl = 1 / (1 + squareform(pdist(pivot_trans, metric='euclidean')))
dist_eucl

array([[1.        , 0.0774211 , 0.08704668, ..., 0.00435486, 0.00416667,
        0.00433325],
       [0.0774211 , 1.        , 0.07844774, ..., 0.0043666 , 0.00416601,
        0.00433456],
       [0.08704668, 0.07844774, 1.        , ..., 0.00436527, 0.00417944,
        0.00433325],
       ...,
       [0.00435486, 0.0043666 , 0.00436527, ..., 1.        , 0.0032772 ,
        0.00326622],
       [0.00416667, 0.00416601, 0.00417944, ..., 0.0032772 , 1.        ,
        0.0032883 ],
       [0.00433325, 0.00433456, 0.00433325, ..., 0.00326622, 0.0032883 ,
        1.        ]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [54]:
pivote.columns

MultiIndex([('Quantity',    33),
            ('Quantity',   200),
            ('Quantity',   264),
            ('Quantity',   356),
            ('Quantity',   412),
            ('Quantity',   464),
            ('Quantity',   477),
            ('Quantity',   639),
            ('Quantity',   649),
            ('Quantity',   669),
            ...
            ('Quantity', 97697),
            ('Quantity', 97753),
            ('Quantity', 97769),
            ('Quantity', 97793),
            ('Quantity', 97900),
            ('Quantity', 97928),
            ('Quantity', 98069),
            ('Quantity', 98159),
            ('Quantity', 98185),
            ('Quantity', 98200)],
           names=[None, 'CustomerID'], length=1000)

In [55]:
customer_id = [pivote.columns[i][1] for i in range(len(pivote.columns))]
customer_id

[33,
 200,
 264,
 356,
 412,
 464,
 477,
 639,
 649,
 669,
 694,
 756,
 883,
 891,
 1008,
 1034,
 1066,
 1072,
 1336,
 1428,
 1435,
 1534,
 1577,
 1594,
 1754,
 1839,
 1920,
 2187,
 2329,
 2503,
 2556,
 2566,
 2582,
 2617,
 2686,
 2754,
 2776,
 2902,
 2915,
 2939,
 3074,
 3253,
 3267,
 3305,
 3317,
 3472,
 3531,
 3535,
 3544,
 3885,
 3903,
 3909,
 4261,
 4479,
 4595,
 4644,
 4723,
 5104,
 5177,
 5183,
 5224,
 5230,
 5434,
 5678,
 5739,
 5832,
 5921,
 5968,
 5986,
 5997,
 6001,
 6185,
 6317,
 6352,
 6367,
 6447,
 6543,
 6734,
 6817,
 6851,
 7021,
 7134,
 7223,
 7543,
 7606,
 7623,
 7772,
 7827,
 7987,
 7999,
 8316,
 8367,
 8372,
 8539,
 8711,
 8917,
 8962,
 9047,
 9132,
 9260,
 9302,
 9533,
 9546,
 9597,
 9771,
 9804,
 10016,
 10094,
 10114,
 10224,
 10311,
 10418,
 10739,
 11023,
 11057,
 11083,
 11102,
 11253,
 11325,
 11380,
 11441,
 11443,
 11614,
 11628,
 11744,
 11883,
 11933,
 12059,
 12206,
 12232,
 12381,
 12529,
 12561,
 12596,
 12598,
 12852,
 12888,
 13062,
 13118,
 13338,
 13354,
 13681,
 13699,
 13823,
 13912,
 14012,
 14208,
 14501,
 14782,
 14910,
 14913,
 14977,
 15027,
 15088,
 15119,
 15148,
 15165,
 15166,
 15371,
 15373,
 15415,
 15420,
 15672,
 15796,
 15851,
 15888,
 15920,
 15986,
 16139,
 16375,
 16481,
 16614,
 16650,
 16664,
 16809,
 16971,
 16997,
 17097,
 17136,
 17263,
 17390,
 17404,
 17407,
 17458,
 17472,
 17760,
 17765,
 17906,
 18027,
 18040,
 18133,
 18281,
 18293,
 18364,
 18441,
 18480,
 18552,
 18591,
 18622,
 18680,
 18683,
 18688,
 18706,
 18720,
 18728,
 18760,
 18796,
 19074,
 19147,
 19148,
 19260,
 19312,
 19442,
 19526,
 19753,
 20006,
 20125,
 20134,
 20331,
 20433,
 20446,
 20476,
 20648,
 20901,
 20907,
 21027,
 21095,
 21177,
 21734,
 21795,
 21973,
 22175,
 22204,
 22308,
 22322,
 22345,
 22408,
 22454,
 22461,
 22508,
 22536,
 22705,
 22751,
 22901,
 22939,
 22982,
 23001,
 23165,
 23176,
 23220,
 23377,
 23451,
 23515,
 23548,
 24137,
 24271,
 24323,
 24435,
 24490,
 24554,
 24820,
 25013,
 25040,
 25125,
 25209,
 25270,
 25292,
 25327,
 25420,
 25421,
 25449,
 25624,
 25651,
 25703,
 25779,
 25994,
 25995,
 26031,
 26353,
 26375,
 26458,
 26601,
 26850,
 26974,
 27045,
 27160,
 27209,
 27381,
 27410,
 27546,
 27572,
 27669,
 27672,
 27760,
 27821,
 27826,
 27841,
 27849,
 27857,
 28030,
 28191,
 28368,
 28702,
 28751,
 28756,
 28867,
 28875,
 28976,
 28984,
 29095,
 29258,
 29287,
 29342,
 29444,
 29475,
 29580,
 29656,
 29681,
 29721,
 29867,
 29910,
 29998,
 30196,
 30324,
 30423,
 30451,
 30575,
 30803,
 30815,
 30954,
 31075,
 31100,
 31113,
 31323,
 31373,
 31409,
 31468,
 31549,
 31820,
 32010,
 32028,
 32180,
 32324,
 32373,
 32386,
 32558,
 32575,
 32584,
 32682,
 32753,
 32785,
 32946,
 33051,
 33132,
 33320,
 33325,
 33381,
 33749,
 33759,
 33840,
 33878,
 34184,
 34291,
 34657,
 35028,
 35034,
 35107,
 35531,
 35575,
 35873,
 35877,
 36042,
 36138,
 36179,
 36200,
 36201,
 36566,
 36737,
 36740,
 36751,
 36829,
 37495,
 37510,
 37619,
 37873,
 38048,
 38125,
 38154,
 38186,
 38265,
 38307,
 38339,
 38358,
 38405,
 38497,
 38703,
 38798,
 38890,
 39110,
 39280,
 39537,
 39552,
 39757,
 39813,
 40094,
 40099,
 40223,
 40863,
 40896,
 40901,
 40934,
 40985,
 41045,
 41147,
 41286,
 41319,
 41405,
 41538,
 41722,
 41747,
 41829,
 41834,
 41843,
 42087,
 42157,
 42303,
 42306,
 42394,
 42399,
 42426,
 42459,
 42611,
 42612,
 42776,
 42802,
 42819,
 43270,
 43345,
 43529,
 43589,
 43652,
 44030,
 44058,
 44090,
 44349,
 44408,
 44667,
 44742,
 44859,
 45042,
 45266,
 45313,
 45420,
 45498,
 45549,
 45582,
 45598,
 45754,
 45759,
 45786,
 45846,
 45965,
 46036,
 46046,
 46146,
 46250,
 46315,
 46324,
 46367,
 46482,
 46551,
 46659,
 46715,
 46807,
 46826,
 46910,
 46971,
 47062,
 47122,
 47303,
 47305,
 47497,
 47605,
 47845,
 47913,
 47985,
 48108,
 48139,
 48156,
 48534,
 48611,
 48641,
 48642,
 48655,
 48818,
 48858,
 48963,
 49005,
 49159,
 49454,
 49474,
 49491,
 49795,
 49981,
 50004,
 50098,
 50416,
 50435,
 50461,
 50497,
 50535,
 50670,
 50748,
 50761,
 50774,
 51023,
 51121,
 51160,
 51182,
 51224,
 51279,
 51451,
 51483,
 51631,
 51718,
 51742,
 51834,
 51934,
 51939,
 52024,
 52091,
 52139,
 52154,
 52155,
 52479,
 52634,
 52700,
 53176,
 53198,
 53214,
 53226,
 53501,
 53729,
 53851,
 53997,
 54001,
 54093,
 54495,
 54547,
 54774,
 54827,
 54857,
 54894,
 54906,
 55124,
 55162,
 55245,
 55275,
 55281,
 55380,
 55381,
 55580,
 55715,
 55780,
 55875,
 55876,
 55930,
 55932,
 56319,
 56374,
 56382,
 56469,
 56479,
 56567,
 56786,
 56887,
 57024,
 57090,
 57168,
 57241,
 57317,
 57459,
 57497,
 57606,
 57654,
 57737,
 57977,
 57991,
 58064,
 58165,
 58203,
 58246,
 58321,
 58348,
 58353,
 58366,
 58413,
 58421,
 58535,
 58639,
 58652,
 58874,
 59017,
 59108,
 59150,
 59207,
 59258,
 59379,
 59399,
 59626,
 59703,
 59710,
 59711,
 59831,
 59925,
 60185,
 60378,
 60389,
 60481,
 60515,
 60612,
 60759,
 60781,
 60862,
 60917,
 60938,
 60969,
 61223,
 61288,
 61417,
 61601,
 61750,
 61923,
 62005,
 62034,
 62094,
 62101,
 62184,
 62242,
 62277,
 62279,
 62411,
 62421,
 62592,
 62719,
 63033,
 63086,
 63120,
 63295,
 63368,
 63742,
 63771,
 63803,
 63891,
 63963,
 64117,
 64202,
 64301,
 64348,
 64575,
 64597,
 64615,
 64775,
 64787,
 64862,
 65326,
 65535,
 65650,
 65678,
 65731,
 65757,
 65785,
 65830,
 65875,
 65910,
 65925,
 66177,
 66232,
 66320,
 66419,
 66445,
 66632,
 66709,
 66807,
 66822,
 66987,
 67058,
 67061,
 67203,
 67281,
 67428,
 67473,
 67582,
 67636,
 67682,
 68076,
 68298,
 68336,
 68416,
 68506,
 68627,
 68680,
 68699,
 68829,
 69027,
 69397,
 69906,
 69931,
 69967,
 70017,
 70324,
 70354,
 70363,
 70512,
 70517,
 70624,
 70986,
 71085,
 71282,
 71298,
 71595,
 71844,
 71948,
 72056,
 72063,
 72152,
 72305,
 72311,
 72330,
 72428,
 72433,
 72487,
 72546,
 72750,
 72829,
 72846,
 73030,
 73031,
 73190,
 73280,
 73353,
 73609,
 73614,
 74077,
 74213,
 74237,
 74403,
 74451,
 74784,
 75022,
 75762,
 75791,
 75793,
 76281,
 76378,
 76389,
 76442,
 76475,
 76511,
 76530,
 76532,
 76690,
 76796,
 76983,
 77037,
 77352,
 77574,
 77628,
 77651,
 77682,
 77685,
 77696,
 77756,
 77810,
 77814,
 77950,
 78048,
 78054,
 78082,
 78104,
 78133,
 78252,
 78297,
 78312,
 78488,
 78489,
 78541,
 78718,
 78896,
 78903,
 78966,
 78981,
 78993,
 79060,
 79068,
 79141,
 79189,
 79230,
 79290,
 79353,
 79458,
 79470,
 79854,
 79997,
 80167,
 80184,
 80372,
 80380,
 80432,
 80538,
 80694,
 80782,
 80849,
 80890,
 80898,
 80938,
 81001,
 81012,
 81034,
 81179,
 81226,
 81281,
 81293,
 81324,
 81331,
 81361,
 81479,
 81501,
 81591,
 81696,
 81715,
 81813,
 81845,
 81876,
 81981,
 82057,
 82146,
 82161,
 82432,
 82440,
 82493,
 82532,
 82597,
 82620,
 82922,
 83106,
 83158,
 83355,
 83495,
 83608,
 83940,
 83973,
 84280,
 84349,
 84364,
 84575,
 84577,
 84594,
 84671,
 84703,
 84779,
 84972,
 85032,
 85161,
 85246,
 85292,
 85437,
 85480,
 85496,
 85524,
 85552,
 85642,
 85766,
 85878,
 85902,
 86028,
 86065,
 86111,
 86136,
 86167,
 86527,
 86560,
 86595,
 86625,
 86662,
 86786,
 87030,
 87228,
 87285,
 87303,
 87408,
 87559,
 87849,
 87920,
 87938,
 87947,
 87967,
 88159,
 88245,
 88318,
 88533,
 88552,
 88733,
 88769,
 88855,
 89110,
 89181,
 89254,
 89272,
 89408,
 89424,
 89425,
 89573,
 89588,
 89725,
 90054,
 90069,
 90174,
 90193,
 90284,
 90300,
 90347,
 90508,
 90694,
 90776,
 90777,
 90933,
 91013,
 91058,
 91176,
 91194,
 91220,
 91224,
 91443,
 91652,
 91713,
 91777,
 91783,
 92067,
 92139,
 92168,
 92255,
 92418,
 92492,
 92525,
 92543,
 92594,
 92637,
 92673,
 92951,
 92995,
 93417,
 93445,
 93505,
 93540,
 93692,
 93882,
 93918,
 94258,
 94420,
 94438,
 94547,
 94599,
 94910,
 94951,
 95017,
 95034,
 95059,
 95078,
 95121,
 95314,
 95372,
 95819,
 96024,
 96088,
 96272,
 96522,
 96524,
 96560,
 96615,
 96666,
 96684,
 97029,
 97052,
 97063,
 97093,
 97201,
 97282,
 97324,
 97495,
 97697,
 97753,
 97769,
 97793,
 97900,
 97928,
 98069,
 98159,
 98185,
 98200]

In [56]:
distances = pd.DataFrame(dist_eucl, index=customer_id, 
                         columns=customer_id)
distances

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

In [57]:
similarities = distances.sort_values(customer_id, ascending=False).sort_values(customer_id, axis=1, ascending=False)
top_5=similarities.iloc[:5,0:5]
top_5

          33        3317      3535      264       2503
33    1.000000  0.087047  0.087047  0.087047  0.085983
3317  0.087047  1.000000  0.093498  0.084297  0.092176
3535  0.087047  0.093498  1.000000  0.086333  0.091325
264   0.087047  0.084297  0.086333  1.000000  0.082709
2503  0.085983  0.092176  0.091325  0.082709  1.000000

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [43]:
top_5.index

Int64Index([33, 3317, 3535, 264, 2503], dtype='int64')

In [58]:
pivot_customer = pivot.set_index('CustomerID').copy()
pivot_customer

                              ProductName  Quantity
CustomerID
33                       Apricots - Dried         1
33                      Assorted Desserts         1
33                Bandage - Flexible Neon         1
33          Bar Mix - Pina Colada, 355 Ml         1
33                 Beans - Kidney, Canned         1
...                                   ...       ...
98200                        Vol Au Vents        50
98200                       Wasabi Powder        25
98200            Wine - Fume Blanc Fetzer        25
98200       Wine - Hardys Bankside Shiraz        25
98200             Yogurt - French Vanilla        25

[63628 rows x 2 columns]

In [59]:
pivot_customer.loc[top_5.index]

                                 ProductName  Quantity
CustomerID
33                          Apricots - Dried         1
33                         Assorted Desserts         1
33                   Bandage - Flexible Neon         1
33             Bar Mix - Pina Colada, 355 Ml         1
33                    Beans - Kidney, Canned         1
...                                      ...       ...
2503              Wine - Crozes Hermitage E.         1
2503              Wine - Magnotta - Cab Sauv         1
2503                     Wine - Red, Cooking         1
2503        Wine - White, Schroder And Schyl         1
2503                           Yoghurt Tubes         1

[275 rows x 2 columns]

In [62]:
customer_top5 = pivot_customer.loc[top_5.index]
customer_top5

                                 ProductName  Quantity
CustomerID
33                          Apricots - Dried         1
33                         Assorted Desserts         1
33                   Bandage - Flexible Neon         1
33             Bar Mix - Pina Colada, 355 Ml         1
33                    Beans - Kidney, Canned         1
...                                      ...       ...
2503              Wine - Crozes Hermitage E.         1
2503              Wine - Magnotta - Cab Sauv         1
2503                     Wine - Red, Cooking         1
2503        Wine - White, Schroder And Schyl         1
2503                           Yoghurt Tubes         1

[275 rows x 2 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [63]:
customer_top5.reset_index(inplace=True)

In [66]:
top_products = customer_top5.groupby('ProductName').agg({'Quantity':'sum'}).sort_values('Quantity',ascending=False)
top_products

                              Quantity
ProductName
Pepper - Black, Whole                4
Butter - Unsalted                    3
Grouper - Fresh                      3
Veal - Inside, Choice                3
Veal - Sweetbread                    3
...                                ...
Fenngreek Seed                       1
Fish - Scallops, Cold Smoked         1
Flour - Teff                         1
Foam Dinner Plate                    1
Yogurt - French Vanilla              1

[216 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [ ]:
for name, score in dict(similarities).items():
    print('Este es el nombre: ', name)
    print('Este es el score: ', score)
    print(recommendations[name])
    recommendations[name] = recommendations[name] * score
    print(recommendations[name])
    print('------'*15)
    print()

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.