# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68584 entries, 0 to 68583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   68584 non-null  int64
 1   FirstName    68584 non-null  object
 2   LastName     68584 non-null  object
 3   SalesID      68584 non-null  int64
 4   ProductID    68584 non-null  int64
 5   ProductName  68584 non-null  object
 6   Quantity     68584 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.7+ MB

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [10]:
data_CustID = data.groupby(['CustomerID', 'ProductName']).agg({'Quantity' : 'sum'})

In [11]:
data_CustID

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1
...                                            ...
98200      Vol Au Vents                         50
           Wasabi Powder                        25
           Wine - Fume Blanc Fetzer             25
           Wine - Hardys Bankside Shiraz        25
           Yogurt - French Vanilla              25

[63628 rows x 1 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [15]:
pivot_prod = pd.pivot_table(data,
                        values='Quantity',
                        columns='CustomerID',
                        index='ProductName').fillna(0).transpose()
pivot_prod

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
264,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
412,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.0,0.0,0.0,25.0,0.0,25.0,0.0,25.0,0.0,0.0,...,0.0,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98069,0.0,0.0,0.0,25.0,0.0,25.0,0.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0
98185,0.0,0.0,25.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
98200,0.0,0.0,0.0,0.0,0.0,25.0,25.0,0.0,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [16]:
squareform(pdist(pivot_prod, metric='euclidean'))

array([[  0.        ,  10.72380529,   9.64365076, ..., 197.94948851,
        218.8241303 , 203.79892051],
       [ 10.72380529,   0.        ,  10.67707825, ..., 197.34994299,
        218.62525014, 203.95342606],
       [  9.64365076,  10.67707825,   0.        , ..., 197.32460566,
        218.02981447, 203.80628057],
       ...,
       [197.94948851, 197.34994299, 197.32460566, ...,   0.        ,
        266.9269563 , 266.9269563 ],
       [218.8241303 , 218.62525014, 218.02981447, ..., 266.9269563 ,
          0.        , 269.25824036],
       [203.79892051, 203.95342606, 203.80628057, ..., 266.9269563 ,
        269.25824036,   0.        ]])

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [17]:
dist_eucl = 1 / (1 + squareform(pdist(pivot_prod, metric='euclidean')))
distances = pd.DataFrame(dist_eucl, index=pivot_prod.index, 
                         columns=pivot_prod.index)
similarities = list(distances[200].sort_values(ascending=False)[1:].nlargest(5).index)
similarities

[1920, 1072, 3317, 3253, 3909]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [18]:
similar_ID = data_CustID.loc[similarities]
similar_ID

                                           Quantity
CustomerID ProductName
1920       Apricots - Halves                      1
           Bacardi Breezer - Tropical             1
           Barramundi                             1
           Beans - Kidney White                   1
           Beef - Texas Style Burger              1
...                                             ...
3909       Wine - Charddonnay Errazuriz           2
           Wine - Fume Blanc Fetzer               1
           Wine - Magnotta, Merlot Sr Vqa         1
           Wine - Toasted Head                    1
           Wine - Valpolicella Masi               1

[261 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [19]:
top_prodName = similar_ID .groupby('ProductName').sum().sort_values('Quantity', ascending=False)
top_prodName

                              Quantity
ProductName
Soup - Campbells Bean Medley         3
Lamb - Ground                        3
Pomello                              3
Bay Leaf                             3
Pork - Kidney                        3
...                                ...
Kiwi                                 1
Knife Plastic - White                1
Lamb - Pieces, Diced                 1
Lambcasing                           1
Yeast Dry - Fermipan                 1

[217 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [20]:
prod_200 = pivot_prod.T.loc[:,[200]]
prod_200

CustomerID                         200
ProductName
Anchovy Paste - 56 G Tube          0.0
Appetizer - Mini Egg Roll, Shrimp  0.0
Appetizer - Mushroom Tart          0.0
Appetizer - Sausage Rolls          0.0
Apricots - Dried                   0.0
...                                ...
Yeast Dry - Fermipan               0.0
Yoghurt Tubes                      0.0
Yogurt - Blueberry, 175 Gr         1.0
Yogurt - French Vanilla            0.0
Zucchini - Yellow                  0.0

[452 rows x 1 columns]

In [22]:
merge = top_prodName.merge(prod_200, on='ProductName')
recommendations_5 = list(merge[merge[200] == 0].head().index)
recommendations_5

['Soup - Campbells Bean Medley',
 'Pomello',
 'Bay Leaf',
 'Pork - Kidney',
 'Muffin - Carrot Individual Wrap']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [23]:
def recommendation(customer):
    dist_eucl = 1 / (1 + squareform(pdist(pivot_prod, metric='euclidean')))
    distances = pd.DataFrame(dist_eucl, index=pivot_prod.index, columns=pivot_prod.index)
    similarities = list(distances[customer].sort_values(ascending=False)[1:].nlargest(5).index)
    similar_ID = data_CustID.loc[similarities]
    top_prodName = similar_ID.groupby('ProductName').sum().sort_values('Quantity', ascending=False)
    prod_customer = pivot_prod.T.loc[:,[customer]]
    merge = top_prodName.merge(prod_200, on='ProductName')
    recommendations_5 = list(merge[merge[200] == 0].head().index)
    return recommendations_5

In [24]:
recomed_dict = {x: recommendation(x) for x in data['CustomerID'].unique()}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [26]:
pd.DataFrame.from_dict(recomed_dict, orient='index', columns=['Product1', 'Product2', 'Product3', 'Product4', 'Product5'])

,Product1,Product2,Product3,Product4,Product5
61288,"Mushrooms - Black, Dried","Wine - Magnotta, Merlot Sr Vqa",Sponge Cake Mix - Chocolate,Beef - Rib Eye Aaa,Chicken - Soup Base
77352,Guinea Fowl,Grenadine,Ecolab - Mikroklene 4/4 L,"Oranges - Navel, 72","Coconut - Shredded, Sweet"
40094,"Water - Mineral, Natural",Pasta - Orecchiette,"Oregano - Dry, Rubbed",Tea - Decaf Lipton,Beef - Inside Round
23548,Wanton Wrap,Spinach - Baby,Tea - English Breakfast,Banana Turning,Towels - Paper / Kraft
78981,Lettuce - Frisee,Longos - Chicken Wings,Sprouts - Alfalfa,Beef - Inside Round,Otomegusa Dashi Konbu
...,...,...,...,...,...
49005,Macaroons - Two Bite Choc,Spinach - Baby,"Veal - Inside, Choice",Cumin - Whole,Beef - Top Sirloin - Aaa
41286,Veal - Inside,Guinea Fowl,"Veal - Inside, Choice",Wasabi Powder,Chips Potato All Dressed - 43g
85878,Kellogs All Bran Bars,Cookie - Dough Variety,"Beef - Ground, Extra Lean, Fresh",Muffin - Carrot Individual Wrap,Bread - Rye
68506,Pasta - Cheese / Spinach Bauletti,Beef - Top Sirloin - Aaa,Black Currants,Tuna - Salad Premix,Tea - Decaf Lipton
3472,Muffin - Carrot Individual Wrap,"Cheese - Boursin, Garlic / Herbs",Pork - Kidney,Raspberries - Fresh,"Pasta - Detalini, White, Fresh"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [29]:
def recommendation_correlation(customer): #funcion de la metrica de la correlacion
    dist_eucl = 1 / (1 + squareform(pdist(pivot_prod, metric='correlation')))
    distances = pd.DataFrame(dist_eucl, index=pivot_prod.index, columns=pivot_prod.index)
    similarities = list(distances[customer].sort_values(ascending=False)[1:].nlargest(5).index)
    similar_ID = data_CustID.loc[similarities]
    top_prodName = similar_ID.groupby('ProductName').sum().sort_values('Quantity', ascending=False)
    prod_customer = pivot_prod.T.loc[:,[customer]]
    merge = top_prodName.merge(prod_200, on='ProductName')
    recommendations_5 = list(merge[merge[200] == 0].head().index)
    return recommendations_5

def recommendation_cityblock(customer): #metrica del cityblock
    dist_eucl = 1 / (1 + squareform(pdist(pivot_prod, metric='cityblock')))
    distances = pd.DataFrame(dist_eucl, index=pivot_prod.index, columns=pivot_prod.index)
    similarities = list(distances[customer].sort_values(ascending=False)[1:].nlargest(5).index)
    similar_ID = data_CustID.loc[similarities]
    top_prodName = similar_ID.groupby('ProductName').sum().sort_values('Quantity', ascending=False)
    prod_customer = pivot_prod.T.loc[:,[customer]]
    merge = top_prodName.merge(prod_200, on='ProductName')
    recommendations_5 = list(merge[merge[200] == 0].head().index)
    return recommendations_5

In [30]:
recommendation_correlation(61288) #tomamos un cliente al azar

['Wine - Magnotta - Cab Sauv',
 'Pastry - Raisin Muffin - Mini',
 'Wine - Red, Harrow Estates, Cab',
 'Cup - 6oz, Foam',
 'Chips Potato Salt Vinegar 43g']

In [31]:
recommendation_cityblock(61288)

['Pork - Kidney',
 'Cheese - Boursin, Garlic / Herbs',
 'Wine - Ej Gallo Sierra Valley',
 'Butter - Unsalted',
 'Bay Leaf']